# General
.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/
.eggs/

# Testing / Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints
*-checkpoint.ipynb

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/
